<%- include('../partials/head', { title, isAdmin: false }) %>
<div class="login-container">
  <div class="login-card">
    <h1 class="login-title">ZsinTech</h1>
    <p class="login-subtitle">Sign in to your dashboard</p>

    <form id="login-form" class="login-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required autocomplete="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required autocomplete="current-password">
      </div>
      <p id="login-error" class="login-error"></p>
      <button type="submit" class="btn btn-primary btn-full">Sign In</button>
    </form>
  </div>
</div>

<div id="firebase-config" data-config='<%- JSON.stringify(firebaseConfig || {}) %>'></div>

<script src="https://www.gstatic.com/firebasejs/10.7.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.7.0/firebase-auth-compat.js"></script>
<script src="/js/firebase-init.js"></script>
<script src="/js/admin-auth.js"></script>
<%- include('../partials/footer') %>
